<h1> {{ title }}</h1>
<!-- <p *ngFor = "let item of videoList">
	<a href='videos/{{ item.slug }} ' *ngIf= ' item.slug == "item-1" '> {{ item.name }} </a>
	<a href='videos/{{ item.slug }} ' *ngIf= ' item.slug != "item-1" ' style='color:green;'> {{item.name}}</a>
</p>
 -->

 <div *ngFor = 'let item of videoList'>
 	<a href='videos/{{item.slug}}'> {{ item.name }}</a>
 
 	<div style='margin: 0 auto; position: relative'>
 		<iframe width="560" height="315" *ngIf='item.embed' [src]="getEmbedURL(item.embed)" frameborder="0" allowfullscreen></iframe>
 	</div>
 </div>